Repository RyanLisse/rag-chat-app, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, test, documentation, ci, configuration, security, dependencies

.github/labeler.yml:

# Configuration for actions/labeler

# Frontend related changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'hooks/**'
      - '**/*.tsx'
      - '**/*.css'
      - 'tailwind.config.ts'

# Backend related changes
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/api/**'
      - 'lib/db/**'
      - 'lib/auth/**'
      - 'middleware.ts'
      - '**/*.sql'

# Database changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/db/**'
      - 'drizzle.config.ts'
      - '**/*.sql'

# Test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - 'playwright.config.ts'

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'scripts/**'

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'bun.lockb'
      - 'tsconfig.json'
      - 'next.config.ts'
      - 'biome.jsonc'
      - '.env*'
      - 'Dockerfile'
      - 'docker-compose.yml'

# Security sensitive files
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/auth/**'
      - 'middleware.ts'
      - '.env*'
      - '**/*secret*'
      - '**/*token*'
      - '**/*auth*'

# Dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'bun.lockb'

fix: resolve OpenTelemetry startup issues
  Makefile
  app/(chat)/api/chat/monitored-route.example.ts
  bun.lock
  components/artifacts/citation-artifact.tsx
  components/artifacts/source-preview-modal.tsx
  components/message-actions.tsx
  instrumentation.ts
  lib/ai/vector-store.ts
  lib/monitoring/index.ts
  lib/monitoring/logger.ts
  lib/monitoring/middleware.ts
  lib/monitoring/sentry.ts
  lib/monitoring/telemetry.ts
  package.json
  tests/unit/hooks.test.tsx
  tests/unit/model-selector.test.ts
  tsconfig.tsbuildinfo
Labels: frontend, test, configuration, dependencies

fix: resolve database connection issues
  QUICK_START.md
  bun.lock
  drizzle.config.ts
  lib/db/connection.ts
  lib/db/migrate.ts
  lib/db/queries.ts
Labels: backend, database, documentation

fix: resolve remaining UI component dependencies
  QUICK_START.md
  artifacts/citation/client.tsx
  bun.lock
  package.json
Labels: frontend, documentation, configuration, dependencies

docs: add citation artifact enhancements documentation
  CITATION_ARTIFACT_ENHANCEMENTS.md
Labels: documentation

feat: achieve 100% test coverage with parallel subagent optimization
  MOCK_INFRASTRUCTURE_REPORT.md
  TEST_COVERAGE_FINAL_REPORT.md
  lib/ai/providers/router.ts
  lib/ai/providers/utils.ts
  package.json
  playwright.config.ts
  scripts/test-e2e-with-server.sh
  scripts/test-file-search.ts
  scripts/validate-mocks.ts
  tests/e2e/basic-workflow.test.ts
  tests/e2e/visual-basic.test.ts
  tests/e2e/visual-basic.test.ts-snapshots/homepage-basic-visual-basic-darwin.png
  tests/e2e/visual-basic.test.ts-snapshots/mobile-layout-visual-basic-darwin.png
  tests/e2e/visual-basic.test.ts-snapshots/model-selector-open-visual-basic-darwin.png
  tests/e2e/visual-basic.test.ts-snapshots/tablet-layout-visual-basic-darwin.png
  tests/integration/file-upload.test.ts
  tests/integration/full-workflow.test.ts
  tests/integration/provider-integration.test.ts
  tests/integration/provider-mocks.ts
  tests/setup/mock-factory.ts
  tests/setup/performance-setup.ts
  tests/setup/test-isolation.ts
  tests/setup/test-setup.ts
  tests/setup/vitest-mocks.ts
  tests/unit/mock-infrastructure.test.ts
  tests/utils/ai-mocks.ts
  tests/utils/streaming-test-helpers.ts
  tests/utils/vector-store-helpers.ts
  tests/visual/chat-interface.visual.test.ts
  vitest.config.ts
Labels: test, documentation, ci, configuration, dependencies

feat: add comprehensive remote agent setup configuration
  .env.example
  .gitignore
  AGENTS.md
  SETUP.sh
Labels: documentation, configuration, security

fix: update suggested prompt examples to be more general and relevant
  components/chat-examples.tsx
  components/suggested-actions.tsx
Labels: frontend

fix: restore RoboRail-specific examples as intended
  components/chat-examples.tsx
  components/suggested-actions.tsx
Labels: frontend

fix: resolve React hydration mismatch issues
  components/suggested-actions.tsx
  hooks/use-mobile.tsx
Labels: frontend

feat: achieve 100% test coverage with parallel subagent optimization
  lib/ai/models.test.ts
  lib/ai/tools/file-search.ts
  lib/ai/tools/get-weather.ts
  vitest.config.ts
Labels: test

Fix Biome linting rule names and configuration
  biome.jsonc
Labels: configuration

Simplify Biome configuration by removing detailed lint rules and fixing includes
  biome.jsonc
Labels: configuration

Update Biome config to version 2.0.6 and use experimentalScannerIgnores
  biome.jsonc
Labels: configuration

Reorder imports in layout.tsx for better readability
  CLEANUP_REPORT.md
  app/layout.tsx
  tsconfig.tsbuildinfo
Labels: frontend, documentation
